<footer>
	<div class="row">
		<div class="small-6 columns">
			<h5><%= link_to 'MYCITYFC.COM', root_path %></h5>
		</div>
		<div class="small-6 columns">
			<h5>mycityfc.com 2013-14. all rights reserved</h5>
		</div>
	</div>
</footer>
