<section id="js-gameday" class="row">
	<div class="small-11 columns">
		<h4 class="section-title">LIVE INFO
			<span class="has-tip" data-tooltip aria-haspopup="true"
						title="GameDay panel appears if the next scheduled game occurs today. Loads open, can toggle to open/close ">?</span>
		</h4>
	</div>
	<div id="js-gameday-toggle" class="small-1 columns">x</div>

	<div class="sleeve small-12 columns">
		<div id="js-gameday-msg">
			Traffic, game delays, injury report, starting lineup, etc. Potentially team's Twitter or other SM feed
		</div>
	</div>

	<%= @st %>

</section>
