<div class="my-team"><%= @my_team %></div>

<section id="game-previews">

	<!--match overview-->
	<div id="js-schedule-container">

		<div id="schedule-trigger" class="trigger">

			<div>
				<h3 class="section-title extra-padding small-6 columns">
					UPCOMING GAMES
					<span class="has-tip" data-tooltip aria-haspopup="true"
								title="Displays a preset # of upcoming games. Conditionally displays link
								to schedule based on whether number of upcoming games exceeds app limit">?
					</span>

				</h3>
			</div>

			<div id="js-schedule">
				<!-- populated -->
			</div>

			<div id="ext-links" >
				<a href="http://www.mlssoccer.com/schedule">VIEW MORE AT MLSSOCCER.COM</a>
			</div>

		</div>

	</div>

</section>