<div class="row">
<div class="small-4 columns left login social">
	<%= link_to image_tag('https://www.facebookbrand.com/img/assets/asset.facebook.logo.lg.png'), user_omniauth_authorize_path(:facebook) %>
</div>
<div class="small-4 columns separator">
	<p>or</p>
</div>
<div class="small-4 columns right login local">
	<!--<div class="fb-login-button"></div>-->
	<button class="medium">Sign Up!</button>
</div>
	</div>

