<div id="js-social">
	<section id="twitter">
		<header>
			<h4 class="section-title">Twitter<span class="has-tip" data-tooltip aria-haspopup="true" title="Pending: Team's official Twitter stream">?</span>
			</h4>
		</header>
		<article>
			<!--feed-->
			<p class="notice"><%= notice_twitter %></p>
		</article>
	</section>

</div>