<div id="js-next-game-section" class="small-12 columns">

	<div id="js-next-game">
		<header>
			<h2 class="section-title">NEXT GAME<span class="has-tip" data-tooltip aria-haspopup="true" title="Retrieves next game from MLS schedule">?</span></h2>
		</header>
		<!-- populated -->
	</div>

</div>
