//blacks
$black: rgba(0, 0, 0, 1);
$black-75: rgba(0, 0, 0, .75);
$black-50: rgba(0, 0, 0, .5);
$black-25: rgba(0, 0, 0, .25);
$black-10: rgba(0, 0, 0, .1);

//steel
$steel: rgba(66, 85, 102, 1);
$steel-90: rgba(66, 85, 102, .9);
$steel-75: rgba(66, 85, 102, .75);
$steel-50: rgba(66, 85, 102, .5);
$steel-25: rgba(66, 85, 102, 0.25);

//whites
$white: rgba(255, 255, 255, 1);
$white-75: rgba(255, 255, 255, .75);
$white-50: rgba(255, 255, 255, .5);
$white-25: rgba(255, 255, 255, .25);
$white-10: rgba(255, 255, 255, .10);

//off blue
$blue: rgba(31, 159, 255, 1);
$blue-85: rgba(31, 159, 255, .85);
$blue-75: rgba(31, 159, 255, .75);
$blue-50: rgba(31, 159, 255, .5);
$blue-20: rgba(31, 159, 255, .2);

//grays
$gray: rgba(117, 138, 163, 1);
$gray-75: rgba(117, 138, 163, 0.75);
$gray-50: rgba(117, 138, 163, 0.5);

// aqua
$aqua: rgba(0, 255, 255, 1);
$aqua-50: rgba(0, 255, 255, 0.5);
$aqua-15: rgba(0, 255, 255, 0.15);

//others
$lime: lime;
$yellow: rgba(255, 255, 0, 1);
$yellow-90: rgba(255, 255, 0, .9);

$yellow-75: rgba(255, 255, 0, .75);
$yellow-50: rgba(255, 255, 0, .5);

$orange: rgba(255, 165, 31, 1);
$red: rgba(255, 0, 0, 1);

$color-mls: rgba(0, 56, 91, 1);
$color-usl-pro: rgba(0, 166, 81, 1);
$color-usl-pdl: pink;
$color-nasl: rgba(229, 29, 59, 1);