// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//teams controller
@import "base/colors";
@import "base/typography";
@import "base/mixins";

body#landing {
	background-color: $steel;
	background-image: asset-data-url("tim_howard_1.jpg");
	background-position: left;
	background-size: cover;

	#nav-wrap {
		height: 35px;
		padding: 2.5px 0;
		border-bottom: 1px solid $white;

		#nav-secondary li {
			display: table-cell;
			vertical-align: middle;
			color: $white;

			img {
				height: 20px;
				border: none;
				margin: none;
				padding: none;
			}
			img:hover {
				border: 1px solid $white
			}

		}

	}

}

.parallax-background {
	background-color: $blue-75;
	height: 65%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;

	.intro-text {
		height: 100%;
		text-align: left;
		margin-top: 20px;

		.factoid {
			text-transform: none;
			//			font-family: $font-special;
		}

		.site-name {
			margin-top: 15px;
			padding: 0;

			a {
				font-size:  1em;

				color: $white;
				letter-spacing: 10px;
			}
		}

		.site-tagline {
			color: $white;
			font-size: 1.25em;
			font-family: $font-special;
		}

		li {
			float: none;
			display: inline-block;
		}

		ul, li, p {
			padding: 0;
			color: $white;
			letter-spacing: none;
		}


		#intro-options {

			bottom: 25px;
			position: absolute;

			.jump {

				span {
					font-size: 14px;
					font-family: $font-special;
				}

			}

		}

		.link-to {
			height: auto;
			width: 100px;
			margin:  10px 10px 10px 0;
			padding: 5px;
			text-align: center;
			background: $aqua-15;
			border: 1px solid $white;
		}


	}

	.right img {height: 25px;}

}

#preview {
	height: 600px;
	display: block;
	float: right;
	position: relative;
	margin-top: 50px;

	background-image: asset_data_url('landing1.png');
	background-repeat: no-repeat;
	background-position: top right;

}


.parallax-content {
	max-width: 100%;
	position: relative;
	//	top: 400px;
	top: 65%;
	padding: 0 50px 50px 50px;
	font-size: 20px;
	background-color: $white;
	color: $steel;

	* {
		color: $steel
	}

	button {
		color: $white;
	}

	.has-tip-2 {
		height: 20px;
		width: 20px;
		background: yellow;
		display: inline;
		border-radius: 10px;
		color: blue;
	}

	#options {
		height: 100%;
		background: $white;
		margin: 0;
		margin-top: 25px;
		padding: 0;
		color: $steel;
		text-align: left;

		a {
			color: $steel;
		}
	}

	#registered {
		@extend #options;

		color: $steel;
		border-right: 1px dotted $steel;
	}

	#not-registered {
		@extend #options;
	}

	#login {
		height: 620px;
		padding: 0;
		//			background: $blue-75;
		text-align: center;

	}

}


// independent
.reveal-modal {

	.button {background :none; color: $blue-85}

}